* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 50px 150px;
    height: 100%;
    width: 100%;
    background-color:#F7F7F5;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

nav h1 {
    color: blueviolet;
}

.links {
    display: flex;
    gap: 60px;
    font-size: 23px;
    cursor: pointer;
}

nav button {
    height: 40px;
    width: 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 17px;
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
}
.mainpg{
    height: 100% ;
    width: 100%;
    display: flex;
}
.left{
    height: 80%;
    
    width: 50%;
}
.left h1{
    font-size: 60px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
}
.left p{
    margin-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
}
.right{
    
    height: 80%;
    width: 50%;
}
.right img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.button{
    margin-top: 40px;
    height: 45px;
    width: 120px;
    border-radius: 30px;
    font-weight: 600;
}
#button1{
    background-color: rgb(196, 152, 237);
    color: aliceblue;
    border: 2px solid rgb(239, 174, 237);

}
#button2{
    margin-left: 5px;
    border: 2px solid black;

}
