* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 50px 150px;
    height: 100%;
    width: 100%;
    background-color: rgb(248, 243, 234);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

nav h1 {
    color: blueviolet;
}

.links {
    display: flex;
    gap: 60px;
    font-size: 23px;
    cursor: pointer;
}

nav button {
    height: 40px;
    width: 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 17px;
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
}
.mainpg{
    height: 100% ;
    width: 100%;
    display: flex;
}
.left{
    height: 50%;
    background-color: blue;
    width: 50%;
}
.right{
    background-color: brown;
    height: 50%;
    width: 50%;
}